.list {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 15px;
    padding: 0;
}

.item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.btn {
    margin: auto;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 4px;
    width: auto;
    height: 30px;
}